<div class="container">
    <h3>Sales Forecast for Products</h3>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <app-list></app-list>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="card col-md-12">
                    <div style="display: block">
                        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                            [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>