<h2>Fancy stuff is happening</h2>


<div class="row">
  <div class="col-xs-12 col-md-6">
    <app-list></app-list>   
  </div>
  <div class="col-xs-12 col-md-6">
      <div style="display: block">
          <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>    
    </div>
</div>

